<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="joinForm" action="/write" method="post">
<table>
    <tr>
        <th>아이디</th>
        <td><input type="text" name="ids" id="ids" size="12" maxlength="12"></td>
    </tr>
    <tr>
        <th>이메일</th>
        <td><input type="text" name="mail" id="mail" ></td>
    </tr>
    <tr>
        <th>비밀번호</th>
        <td><input type="password" name="passwd" id="passwd" size="12"></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="완료">
        </td>
    </tr>
</table>
</form>
</body>
</html>